.LadyYou { /* http://designshack.net/articles/css/the-10-best-script-and-handwritten-google-web-fonts/*/
  font: 400 80px/1.3 'Arizonia', Helvetica, sans-serif;
  color: #EC6841;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1); /**/
  padding-bottom:10px;
  border-bottom:1px solid #EECE62;
}
.medSpa{color:#8d8d8d; font-size:18px; text-align:center; font-weight:300; margin:15px 0 0 0;}

.LadyYou2 {
font: 400 50px/1.3 'Arizonia', Helvetica, sans-serif;
color: #EC6841;
text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
text-align: center;
margin: 0 0 20px 0;
}
.medSpa2 {
color: #FFFFFF;
font-size: 18px;
text-align: center;
font-weight: 300;
margin: 15px 0 0 0;
border-top: 1px solid #EECE62;
padding-top: 10px;
}


#leftNav{position:absolute; top:0; left:0; width:80px; height:20px; padding:4px; background-color:#856D66;color:#fff; cursor:pointer;}
#leftPop{position:absolute; top:0; left:0; width:300px; height:auto; padding:4px; background-color:#856D66;color:#fff; display:none;}

#SignIn{position:absolute; top:0; right:0; width:190px; height:20px; padding:4px; background-color:#856D66;color:#fff; cursor:pointer; text-align:center;}